$siteUrl : '/assets';
//$siteUrl : '/tib/assets';

/*Color*/
//$color-icon: #4692e7;
//$color-title: #E77811;
//$color-gray: #F6F7F9;
//$color-white: #fff;
//$color-black: #000;
//$color-blue: #5CAACD;
//$color-pink: #D3B2A6;
//$secondary-color: #393a3c;
//$color-green : #558b2f;
//$color-orange:  #EE8122;


$main-color: #ff9694;
$main-color2: #400A25;
$color-text: #c3a9b6;

/*FONT*/

//$fonts-default: Ariel, Helvetica, sans-serif;
//$fonts-default: "Trebuchet MS", Helvetica, sans-serif;
$fonts-default: "Times", Helvetica, sans-serif;

$font-bold:  $fonts-default;
$font-regular:  $fonts-default;
$font-italic:  $fonts-default;
$font-medium:  $fonts-default;
$font-semiBold: $fonts-default;






